#pdn_timeval {
    width:90px!important;
    height:24px!important;
    margin-top:4px!important;
    padding:2px!important;
}

#pdn_dateval {
    width:90px!important;
    height:24px!important;
    margin-top:4px!important;
    padding:2px!important;
}